<head>
    <title>TechZilla </title>
</head>

<body>

    <header>

        <h1>TechZilla</h1>

        <form action="/search" method="GET">
            <input type="text" name="query" placeholder="Search products...">
            <button type="submit">Search</button>
        </form>

        <nav>
            <a href="/">Home</a>
            <a href="/">Kompjuter, Laptop & Server</a>
            <a href="/">Celular & Tablet</a>
            <a href="/">TV, Audio & Foto</a>
            <a href="/">Gaming</a>
            <a href="/">Aksesorë</a>
            <a href="/">Outlet</a>

            <button onclick="window.location.href='/login'">Login</button>


        </nav>
    </header>